In [1]:
#[과제: udf 등록 및 SQL 처리]
#UDF 함수명: age_category(age)
#- age가 35살 미만: 'young'
#- age가 35살-59살: 'adult'
#- age가 60살 이상: 'senior'
#데이터프레임
#- 변수: name, age (예: '안현', 39)
#- 데이터 5개~10개 생성 
#SQL 출력 결과: name, age_category(age)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType
spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [3]:
age_data = [('우지호',22),('서진우',21),('김진우',26),
            ('김 건',38),('실버팽',73),
           ('강백호',45),('강 철',37),('임나은',30),
            ('지연우',40),('서연우',23)]

In [4]:
schema =['name','age']

In [5]:
df = spark.createDataFrame(age_data, schema)

In [6]:
df.createOrReplaceTempView('agacategory')

In [7]:
df.show()

+------+---+
|  name|age|
+------+---+
|우지호| 22|
|서진우| 21|
|김진우| 26|
| 김 건| 38|
|실버팽| 73|
|강백호| 45|
| 강 철| 37|
|임나은| 30|
|지연우| 40|
|서연우| 23|
+------+---+

In [8]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [9]:

 def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 35 and age <= 59:
        return 'adult'
    else:
        return 'senior'

In [10]:
spark.udf.register('age_category', age_category, StringType())

In [11]:
spark.sql("SELECT name, age_category(age) AS age_category FROM agacategory").show()

+------+------------+
|  name|age_category|
+------+------------+
|우지호|       young|
|서진우|       young|
|김진우|       young|
| 김 건|       adult|
|실버팽|      senior|
|강백호|       adult|
| 강 철|       adult|
|임나은|       young|
|지연우|       adult|
|서연우|       young|
+------+------------+